<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <!--  Meta tag to control the viewport for mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%- seo -%}
    
  <!--  Call "styles.css" for custom formatting -->
  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
  {%- feed_meta -%}
  
  <!--  Meta tag for Google search -->
  <meta name="google-site-verification" content="2eL3ydPCqBQyhtgkljeee1on3x7F3WFl3ii42eHXSK0" />
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JMCKWJTNHB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'G-JMCKWJTNHB');
  </script>
</head>
