<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | escape }} | {{ site.title | escape }}</title>
    {{ site.stylesheet | relative_url | stylesheet_tag }}
  </head>
  <body>
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
    
    <!-- dark mode toggle -->
    <script src="{{ '/assets/js/darkmode.js' | relative_url }}"></script>
  </body>
</html>
